@using Domain.HockeyLeague.Entities

<h1>@Team.Name.Value</h1>
<h2>Roster</h2>
<table class="table text-center">
	<thead>
		<tr>
			<th>Player name</th>
			<th>Jersey number</th>
			<th>Remove player</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var player in Team.Roster)
		{
			<tr>
				<td>@player.Name</td>
				<td>@player.JerseyNumber</td>
				<td>
					<button class="btn btn-danger" @onclick="_ => HandleDeletePlayer(player)">
						<span class="fas fa-trash"></span>
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>
@code {
	[Parameter]
	public Team Team { get; set; } = null!;
	[Parameter]
	public EventCallback<Player> OnDelete { get; set; }
	protected override void OnInitialized()
	{
		if (Team is null)
			throw new ArgumentNullException(nameof(Team));
	}
	private async Task HandleDeletePlayer(Player player)
	{
		await OnDelete.InvokeAsync(player);
	}
}
