@page "/teams"

@using Lab2.Domain.HockeyLeague.DTOs
@using Lab2.Application.HockeyLeague

@inject ITeamService TeamService

<div class="container">
    <h1>Teams</h1>
    <Loading IsLoading="_isLoading">
        @if (!_teams!.Any())
        {
            <h4 class="text-danger">There are no teams currently registered.</h4>
        }
        else
        {
            <ul>
                @foreach (var team in _teams!)
                {
                    <li>
                        <a href="@($"/teams/{team.Id}")">@team.Name</a>
                    </li>
                }
            </ul>
        }
    </Loading>
</div>

@code {

    private bool _isLoading = true;
    private IEnumerable<TeamDTO>? _teams;

    protected override async Task OnInitializedAsync()
    {
        await LoadTeams();
    }

    private async Task LoadTeams()
    {
        _isLoading = true;
        _teams = await TeamService.GetTeamsAsync();
        _isLoading = false;
    }

}
